<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado de paises</title>
    <link href="~/Styles/miEstilo.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="Titulo">Demo 02: Web MVC consumir API</div>
        <div class="Subtitulo">Consulta de Ubigeo - Desarrollado por Carlos Macha M.</div> 
        <div class="Mensaje">Total de Registros: <span id="spnTotalReg"></span></div>
        <div class="Mensaje">Tiempo proceso: <span id=spnTiempo></span></div>
        <div id="divTabla"></div>
    </div>
    <script src="~/Scritps/Consulta.js"></script>
</body>
</html>
